/* ----------------------
Base Styles 
------------------------*/
* {
    box-sizing: border-box;
}
.grid-container {
    max-width: 100vw;
    font-family: 'PT Sans', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'header'
        'nav'
        'main';
}
.main {
    grid-area: main;
}
.flex {
    display: flex;
}
.flex-align {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.icon-size {
    width: 8%;
}
.img-size {
    width: 15%;
}
.round-image {
    border-radius: 50%;
}
.white-fill {
    fill: rgb(247, 245, 245);
}
.white {
    color: rgb(247, 245, 245);
}
.field {
    background-color: rgba(238, 238, 238, 0.5);
    border: 2px solid rgba(227, 227, 227, 0.5);
    border-radius: 5px;
}

/* ------------------------------------------
Header
-------------------------------------------*/
.header {
    grid-area: header;
    background-color: rgba(108, 196, 237, .8);
    justify-content: space-evenly;
}
h1 {
    font-size: 1.5em;
}
.bell-icon {
    width: 5%;
    margin-left: 4rem;
}
.name {
    margin-right: .5rem;
}
h1, 
.user-image {
    margin-left: .5rem;
}
.main-header, 
.tab, 
.section-head, 
ul li {
    margin-left: 1rem;
}

/* ------------------------------------------
Nav and Dashbord 
-------------------------------------------*/
.nav {
    grid-area: nav;
    background-color: rgba(8, 75, 107, 0.8);
    justify-content: center;
}
.nav-icon {
    margin: 1rem;
}
.tab {
    border: 2px solid rgba(212, 210, 210, 0.8);
    border-top: none;
    border-right: none;
    width: 100%;
}
.alert-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    background-color: rgba(26, 101, 136, 0.8);
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
}
.alert-banner-close {
    margin-left: 2.5rem;
}

/* ------------------------------------------
Charts 
-------------------------------------------*/
.section-head {
    text-transform: uppercase;
}
ul {
    padding: 0;
    margin: 0 .2rem 1rem;
    width: 50%;
}
ul li {
    list-style: none;
    font-weight: bold;
    margin-right: 1.5rem;
}
ul li:hover {
    background-color: lightpink;
    color: #777;
    padding: .5rem;
    border-radius: 40%;
}
.traffic-chart-container,
.daily-chart-container,
.mobile-chart-container {
    width: 90%;
}
.chrt-margin {
    margin: 0 1rem;
    padding-bottom: 1.4rem;
    border-bottom: 3px solid rgba(212, 210, 210, 0.8);
}

/* ------------------------------------------
Social Stats 
-------------------------------------------*/
.social-box {
    padding: .2rem;
    margin: .5rem 1rem;
    justify-content: flex-start;
}
.social {
    background-color: rgba(26, 101, 136, 0.8);
    padding: .8rem;
    margin: 1rem;
    border-radius: 50%;
}
.social-name {
    font-size: 1.5em;
    color: rgba(26, 101, 136, 0.8);
}
.social-data {
    font-size: 2.5rem;
}
.social-name, 
.social-data {
    margin: 0 1rem;
    padding-top: .2rem;
}

/* ------------------------------------------
New Members and Recent Activity 
-------------------------------------------*/
.members {
    margin: auto;
    width: 80%;
    text-align: center;
}
.members div p {
    margin: .2rem;
    padding: .2rem;
}
.members a {
    text-decoration: none;
    color: rgba(26, 101, 136, 0.8);
}
.arrow {
    display: none;
}
hr {
    margin: .5rem 1rem;
    background-color: rgba(227, 227, 227, 0.8);
    border: none;
    height: 3px;
}

/* ------------------------------------------
Message and Settings
-------------------------------------------*/
form, 
.settings {
    margin: 1rem;
}
.form-field {
    padding: .8rem 1rem 1.5rem;
}
textarea, 
.label {
    margin: .8rem 0;
}
.button {
    margin: 0;
    padding: 1rem;
    background-color: rgba(26, 101, 136, 0.8);
    border-radius: 6px;
    border: none;
}
.settings-head {
    margin-left: 0;
    margin-bottom: 0;
}
.toggle {
    justify-content: space-between;
}
select {
    padding: 1.1rem;
    margin: 1rem 0;
    width: 100%;
}
#cancel {
    background-color: rgba(100, 97, 97, 0.8);
}
#save, 
#cancel {
    width: 49%;
}

/* ----------------------
Media Queries
------------------------*/
@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 60px 1fr;
        grid-template-areas: 
        'header header'
        'nav main';
    }
    .header {
        padding: .5rem;
    }
    h1 {
        flex: 1;
    }
    .user-image, 
    .name {
        margin-left: 1rem;
    }
    .nav {
        flex-direction: column;
    }
    .nav-icon {
        width: 5vw;
    }
    .alert-banner-close {
        margin-left: 20rem;
    }
    ul {
        margin: 0;
    }
    ul:last-child {
        flex: -1;
    }
    .traffic-chart-container {
        width: 95%;
    }
    .daily-chart-container {
        width: 90%;
    }
    .mobile-chart-container {
        width: 90%;
    }
    .chrt-margin{
        border: none;
    }
    .chrt-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        border: 3px solid rgba(212, 210, 210, 0.8);
        border-right: none;
        border-left: none;
    }
    .daily {
        border-right: 3px solid rgba(212, 210, 210, 0.8);
    }
    .stats-flex-wrapper {
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(212, 210, 210, 0.8);
    }
    .social-box {
       margin: 0 .5rem;
       padding-right: .8rem;
    }
    .social {
        width: 5vw;
        margin: 1.5rem .8rem;
        padding: .5rem;
        border-radius: 50%;
    }
    .members {
        width: 88vw;
        text-align: left;
        padding: .2rem;
    }
    .arrow {
        color: rgba(26, 101, 136, 0.8);
        display: block;
    }
    .label {
        flex: .3;
    }

     /* Grouped */
     .chrt-overhead, 
     .stats-flex-wrapper, 
     .members, 
     .members-info,
     .activity {
        display: flex;
        flex-direction: row;
    }
    .nav, 
    .chrt-overhead, 
    .stats-flex-wrapper,
    .members,
    .members-info,
    .activity {
        align-items: center;
    }
    .nav, 
    .stats-flex-wrapper,
    .members,
    .toggle {
        justify-content: flex-start;
    }
    .header, 
    .chrt-overhead, 
    .members-info,
    .activity {
        justify-content: space-between;
    }
    .members-info,
    .activity {
        flex: 1;
        margin-left: .8rem;
    }
    .daily,
    .mobile-users {
        padding: .5rem;
    }
    .social-name,
    .social-data {
        margin: 0 .5rem;
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 90px 1fr;
    }
}