/* ----------------------
Base Styles 
------------------------*/
* {
    box-sizing: border-box;
}
.grid-container {
    font-family: 'PT Sans', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'header'
        'nav'
        'main';
}
.main {
    grid-area: main;
}
.flex {
    display: flex;
}
.flex-align {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.icon-size {
    width: 8%;
}
.img-size {
    width: 15%;
}
.round-image,
.social,
span {
    border-radius: 50%;
}
.white-fill {
    fill: rgb(247, 245, 245);
}
.white {
    color: rgb(247, 245, 245);
}
.field {
    background-color: rgba(238, 238, 238, 0.5);
    border: 2px solid rgba(227, 227, 227, 0.5);
    border-radius: 5px;
}

/* ------------------------------------------
Header
-------------------------------------------*/
.header {
    grid-area: header;
    background-color: rgba(108, 196, 237, .8);
    justify-content: space-evenly;
}
h1,
.section-head {
    font-size: 1.2em;
}
.bell-icon {
    width: 5%;
    margin-left: 4rem;
    position: relative;
}
#notifications,
span {
    position: absolute;
}
span {
    background-color: rgb(54, 203, 54);
    /* bottom: 75%;      bottom: 15px;
       left: 95%; */  /* left: 15px;*/
}
.notify-dropdown {
    background-color: papayawhip;
    color: #777;
    padding: .6rem;
    border-radius: 4px;
    min-width: 150px;
    z-index: 1;
}
.notify-dropdown li:nth-child(2) {
    margin-top: .4rem;
    padding-top: .4rem;
    border-top: 1px dotted #777;
}
.exit {
    text-align: center;
    margin-top: .3rem;
    cursor: pointer;
}
h1, 
.user-image {
    margin-left: .5rem;
}
.name,
li {
    margin-right: .5rem;
}
.main-header, 
.tab, 
.section-head, 
ul li {
    margin-left: 1rem;
}

/* ------------------------------------------
Nav and Dashbord 
-------------------------------------------*/
.nav {
    grid-area: nav;
    background-color: rgba(8, 75, 107, 0.8);
    justify-content: center;
}
.nav-icon {
    margin: .4rem .6rem;
}
.dashboard,
.alert-banner,
.members,
.notify-dropdown {
    font-size: .9em;
}
.tab {
    padding: 1.6rem;
    border: 2px solid rgba(212, 210, 210, 0.8);
    border-top: none;
    border-right: none;
    width: 100%;
}
.alert-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 101, 136, 0.8);
    padding: .4rem .8rem;
    margin: .6rem;
    border-radius: 5px;
}

/* ------------------------------------------
Charts 
-------------------------------------------*/
.section-head {
    text-transform: uppercase;
}
ul, 
ol {
    padding: 0;
}
li {
    list-style: none;
    font-weight: bold;
}
.traffic-chart-container,
.daily-chart-container,
.mobile-chart-container {
    width: 90%;
}
.chrt-margin {
    margin: 0 1rem;
    padding-bottom: 1.4rem;
}
.chrt-margin,
.social-stats {
    border-bottom: 3px solid rgba(212, 210, 210, 0.8);
}

/* ------------------------------------------
Social Stats 
-------------------------------------------*/
.social-stats {
    padding-bottom: .4rem;
}
.social-box {
    margin: .5rem 1rem;
    justify-content: flex-start;
}
.social {
    background-color: rgba(26, 101, 136, 0.8);
    padding: .5rem;
}
.social-name {
    font-size: 1.3em;
    color: rgba(26, 101, 136, 0.8);
}
.social-data {
    font-size: 2rem;
}
.social-name, 
.social-data {
    padding-top: .2rem;
}
.social-name, 
.social-data,
.button,
.names {
    margin: 0;
}
.social-box,
span,
.members div p {
    padding: .2rem;
}

/* ------------------------------------------
New Members and Recent Activity 
-------------------------------------------*/
.members {
    margin: auto;
    width: 80%;
    text-align: center;
}
.members div p {
    margin: .2rem;
}
.members a {
    text-decoration: none;
    color: rgba(26, 101, 136, 0.8);
}
.arrow {
    display: none;
}
hr {
    margin: .5rem 1rem;
    background-color: rgba(227, 227, 227, 0.8);
    height: 3px;
}
hr,
.button{
    border: none;
}

/* ------------------------------------------
Message and Settings
-------------------------------------------*/
form, 
.settings,
#error-msg,
.social {
    margin: 1rem;
}
.form-field {
    padding: .8rem 1rem 1.5rem;
}
input,
textarea,
select,
.name {
    font-size: 1em;
}
textarea, 
.label {
    margin: .8rem 0;
}
.button,
.label,
#error-msg {
    font-size: .9em;
}
.button {
    padding: 1rem;
    background-color: rgba(26, 101, 136, 0.8);
    border-radius: 6px;
}
#error-msg {
    padding: .8rem;
    background-color: papayawhip;
    border-radius: 5px;
    width: 90%;
}
.settings-head {
    margin-left: 0;
    margin-bottom: 0;
}
.toggle {
    justify-content: space-between;
}
select {
    padding: 1.1rem;
    margin: 1rem 0;
    width: 100%;
}
#cancel {
    background-color: rgba(100, 97, 97, 0.8);
}
#save, 
#cancel {
    width: 49%;
}

/* ----------------------
Bell-icon Keyframes 
------------------------*/
@keyframes bell {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(40deg) ;
    }
    60% {
        transform: rotate(-40deg);
    }
}

/* ----------------------
Media Queries - 768px
------------------------*/
@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 60px 1fr;
        grid-template-areas: 
        'header header'
        'nav main';
    }
    .header {
        padding: .5rem;
    }
    h1 {
        flex: 1;
    }
    .bell-icon svg:hover {
        transform-origin: 50% 25%;
        animation: bell 1s ease-in-out backwards;
    }
    span {
        padding: .3rem;
    }
    .notify-dropdown {
        min-width: 220px;
        padding: .2rem;
    }
    .exit {
        padding: 0;
    }
    .user-image, 
    .name {
        margin-left: 1rem;
    }
    .nav {
        flex-direction: column;
    }
    .nav-icon {
        width: 5vw;
    }
    .alert-banner-close {
        margin-left: 20rem;
    }
    ul,
    .exit {
        margin: 0;
    }
    ul li:hover {
        background-color: lightpink;
        color: #777;
        border-radius: 40%;
    }
    .traffic-chart-container {
        width: 95%;
    }
    .daily-chart-container,
    .mobile-chart-container {
        width: 90%;
    }
    .chrt-margin{
        border: none;
    }
    .chrt-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        border: 3px solid rgba(212, 210, 210, 0.8);
        border-right: none;
        border-left: none;
    }
    .daily {
        border-right: 3px solid rgba(212, 210, 210, 0.8);
    }
    .stats-flex-wrapper {
        padding-bottom: 1rem;
    }
    .social-box {
       margin: 0 .5rem;
       padding-right: .8rem;
       width: 35%;
    }
    .social {
        width: 5vw;
        margin: 1rem .8rem;
        padding: .5rem;
        border-radius: 50%;
    }
    .members {
        width: 88vw;
        text-align: left;
        padding: .2rem;
    }
    .arrow {
        color: rgba(26, 101, 136, 0.8);
        display: block;
    }
    #error-msg {
        width: 55%;
    }
    .label {
        flex: .35;
    }

     /* Grouped */
     .alert-banner,
     .members,
     .label {
        font-size: 1.1em;
     }
     .chrt-overhead, 
     .stats-flex-wrapper, 
     .members, 
     .members-info,
     .activity {
        display: flex;
        flex-direction: row;
    }
    .nav, 
    .chrt-overhead, 
    .stats-flex-wrapper,
    .members,
    .members-info,
    .activity {
        align-items: center;
    }
    .nav, 
    .stats-flex-wrapper,
    .members,
    .toggle {
        justify-content: flex-start;
    }
    .header, 
    .chrt-overhead, 
    .members-info,
    .activity {
        justify-content: space-between;
    }
    .members-info,
    .activity {
        flex: 1;
        margin-left: .8rem;
    }
    .daily,
    .mobile-users,
    li {
        padding: .5rem;
    }
    .social-name,
    .social-data {
        margin: 0 .5rem;
    }
}

/* ----------------------
Media Queries - 1024px
------------------------*/
@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 90px 1fr;
    }
    .social-box {
        width: 32%;
    }
    .members-activity {
        padding-bottom: .2rem;
        border-bottom: 2px solid rgba(212, 210, 210, 0.8);
    }
    .recent-activity .members {
        padding-top: 0;
    }
    .recent-settings {
        margin-bottom: 2rem;
    }
    .label {
        flex: .5;
    }
    select {
        width: 95%;
    }
    #save,
    #cancel {
        width: 47%;
    }
    hr {
        width: 43vw;
    }

    /* Grouped */
    .members,
    .message,
    .settings {
        width: 45vw;
        margin-left: .2rem;
    }
    .members-activity,
    .message-settings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .new-members,
    .message {
        border-right: 2px solid rgba(212, 210, 210, 0.8);
    }
    .new-members hr:last-child, 
    .recent-activity hr:last-child,
    .message hr {
        display: none;
    }
    .recent-activity hr,
    .message h3, 
    .settings h3 {
        margin-top: 0;
    }
    .settings h3,
    .label,
    select,
    #save {
        margin-left: .8rem;
    }
}